html, body, div, img, p, h1, h2, h3, h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gochi Hand', cursive;
    font-size: 16pt;
}

html {
    background-image: url("../images/tile_dungeon.png");
}

#game-status {
    z-index: 10;
    color: red;
    padding: 15px;
    font-size: 26pt;
    border-radius: 1em;
    border: 2px solid white;
    background: black;
    position: absolute;
    right: 35%;
    bottom: 45%;
}

body {

    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    height: 95vh;
}

#slots {
    margin: 0 auto;
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    justify-content: center;
}

.tile {
    margin: 0;
    padding: 0;
    flex-basis: 100px;
    color: white;
    transition: all .4s;
    text-align: center;
    border: 10px solid white;
}

#money {
    display: block;
    text-align: center;
    font-size: 16pt;
    text-shadow: 1px 1px yellow;
}

.win {
    border: 10px solid black;
}

.locked {
    border: 10px solid red;
    filter: grayscale(1);
}

.dead {
    border: 10px solid red;
    filter: grayscale(1);
}

img {
    margin: 0;
    display: block;
    width: 100%;
}

input {
    padding: 4px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 2px dashed black;
    width: 200px;
    height: 250px;
}

#roll {
    padding: 10px;
    font-size: 12pt;
    margin: 5px auto;
    display: block;
}

.hero, #dragon {
    border: 8px solid white;
}

.healing {
    border: 8px solid green !important;
}
.hit {
    border: 8px solid red !important;
}
.shielded {
    border: 8px solid blue !important;
}

.hero img {
    width: 75px;
}

#dragon img {
    width: 300px;
}

#characters {
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.health {
    font-size: 20pt;
    color: white;
    text-shadow: 2px 2px #222;
}

.hero-shields {
    width: 20px !important;
    display: inline;
}

p { display: inline;}

.hide {
    display: none;
}

#fire-progress {
  background-color: black;
  border-radius: 1em; /* (height of inner div) / 2 + padding */
  margin: 5px;
  padding: 3px;
}

#fire-progress > div {
   background-color: red;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 10px;
}

#fire-title {
    font-size: 12pt;
    color: white;
    position: absolute;
}

@media screen and (max-width: 750px)
{
    #characters {
        max-width: 90%;
        margin: 5px auto;
    }
    .hero img {
        width: 60px;
    }

    #dragon img {
        width: 200px;
    }

    .health {
        font-size: 14pt;
        color: white;
        text-shadow: 1px 1px #222;
    }

}
