html, body, div, img, p, h1, h2, h3, h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gochi Hand', cursive;
    font-size: 16pt;
}

html {background: white;}

body {
    max-width: 800px;
    background: #DDD;
    margin: 0 auto;
    padding: 15px;
    height: 95vh;
}

#slots {
    margin: 0 auto;
    display: flex;
    width: 390px;
    flex-wrap: wrap;
}

.tile {
    margin: 0;
    padding: 0;
    flex-basis: 120px;
    color: white;
    transition: all .4s;
    text-align: center;
    border: 10px solid white;
}

.win {
    border: 10px solid black;
}

.locked {
    filter: grayscale(1);
}

img {
    margin: 0;
    display: block;
    width: 100%;
}

input {
    padding: 4px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 2px dashed black;
    width: 200px;
    height: 250px;
}

table {
    margin: 10px auto;
    padding: 20px;
}

#dragon {
    color: red;
}
.heroes {
    color: blue;
}
#money {
    color: green;
}

td{
    transition: all .4s;
}
.healing {
    background: green;
}
