html, body, div, img, p, h1, h2, h3, h4 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gochi Hand', cursive;
    font-size: 16pt;
}

html {
    background-image: url("../images/tile_dungeon.png");
}

body {

    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
    height: 95vh;
}

#slots {
    margin: 0 auto;
    display: flex;
    width: 350px;
    flex-wrap: wrap;
}

.tile {
    margin: 0;
    padding: 0;
    flex-basis: 100px;
    color: white;
    transition: all .4s;
    text-align: center;
    border: 10px solid white;
}

.win {
    border: 10px solid black;
}

.locked {
    filter: grayscale(1);
}

img {
    margin: 0;
    display: block;
    width: 100%;
}

input {
    padding: 4px;
}

canvas {
    display: block;
    margin: 10px auto;
    border: 2px dashed black;
    width: 200px;
    height: 250px;
}

.hero, #dragon {
    border: 8px solid white;
}

.healing {
    border: 8px solid green !important;
}
.hit {
    border: 8px solid red !important;
}
.shielded {
    border: 8px solid blue !important;
}

.hero img {
    width: 60px;
}

#dragon img {
    width: 300px;
}

#characters {
    max-width: 600px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.health {
    font-size: 20pt;
    color: white;
    text-shadow: 2px 2px #222;
}

.hero-shields {
    width: 20px !important;
    display: inline;
}

p { display: inline;}

.hide {
    display: none;
}

@media screen and (max-width: 750px)
{
    #characters {
        max-width: 90%;
        margin: 5px auto;
    }
    .hero img {
        width: 40px;
    }

    #dragon img {
        width: 200px;
    }

    .health {
        font-size: 14pt;
        color: white;
        text-shadow: 1px 1px #222;
    }

}
